/*
    general
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    box-sizing: border-box;
}

.header-container, .footer-container {
    margin: 0;
    background-color: rgb(64, 64, 64);
}

footer {
    font-size: 11pt;
}

footer a {
    text-decoration: none;
    color: rgb(222, 222, 192);
}

footer h3 + p {
    margin-top: -12pt;
}

#pythonies {
    border-bottom: 1px solid rgb(222, 222, 222);
}

header, footer {
    color: rgb(222, 222, 222);
    padding: 24px 24px 24px 120px;
    width: 60%;
    min-width: 500px;
    max-width: 800px;
}

div.page {
    padding-left: 120px;
    width: 60%;
    min-width: 500px;
    max-width: 800px;
}


/*
#repl {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 50%;
    border: 2px dashed #ff0000;
    min-width: 500px;
    height: 80%;
    min-height: 500px;
    margin-left: 32px;
}
*/

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(0, 120, 128);
    padding-top: 12px;
    padding-bottom: 24px;
}

div.section-heading {
    position: relative;
    left: -5%;
    padding: 5%;
    width: 95%;

    color: rgb(255, 255, 255);
    padding-top: 12px;
    padding-bottom: 18px;
    background-color: rgb(0, 120, 128);
}

div.section-heading h2, div.section-heading h4 {
    margin: 0;
}

div.section-heading h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

div.section-heading h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

:focus {outline: none;}
::-moz-focus-inner {border:0;}

/*
    step numbering
*/

section > div.step {
    position: relative;
}

div.step-heading {
    position: relative;
    padding: 1em 0 1em 0;
    border-bottom: 2px solid rgb(0, 120, 128);
    cursor: pointer;
}

div.step-heading h3 {
    display: inline;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 125%;
    font-weight: 400;
    color: rgb(0, 120, 128);
    cursor: inherit;
}

div.step-heading button {
    position: absolute;
    left: -32px;
    width: 16px;
    height: 16px;
    padding: 8px;
    border: none;
    background-color: transparent;
    margin-top: 0.5em;
    cursor: inherit;
}

div.step-heading.expanded button {
    background-image: url('icons/down.svg');
}

div.step-heading.expanded + div.step {
    display: block;
}

div.step-heading:not(.expanded) button {
    background-image: url('icons/right.svg');
}

div.step-heading:not(.expanded) + div.step {
    display: none;
}

/*
div.step-heading button[expanded] {

}

div.step-heading button:not([expanded]) {
    background-image: url('icons/right.svg');
}
*/


/*
    navigation buttons
*/

nav {
    margin-top: 36px;
}

nav:after {
    display: block;
    content: '.';
    visibility: hidden;
    clear: both;
}

.prev-button {
    float: left;
    padding: 6px 16px 6px 40px;
}

.next-button {
    float: right;
    padding: 6px 40px 6px 16px;
}

.nav-button {
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(0, 128, 128);
    border: 2px solid rgb(0, 128, 128);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.next-button:after {
    position: absolute;
    top: 16px;
    right: 12px;
    content: url('icons/next.svg')
}

.prev-button:before {
    position: absolute;
    top: 16px;
    left: 12px;
    content: url('icons/prev.svg')
}

.nav-button:hover:not([disabled]) {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 128, 128);
}

.nav-button:disabled {
    filter: grayscale(100%);
    filter: opacity(25%);
}

/*
    code (additional to prettify.css)
*/

pre.prettyprint {
    overflow: hidden;
}

pre.linenums:not([mock-linenums]) li {
    list-style-type: decimal;
}

pre.linenums[mock-linenums] li {
    list-style-type: none;
}

pre li.explained {
    background-color: rgb(232, 255, 255);
}

pre code, pre li {
    position: relative;
}

pre code del, pre code ins, pre code mark {
    text-decoration: none;
    background: none;
}

pre li.del {
    background-color: rgb(224, 142, 76);
}

pre li.ins {
    background-color: rgb(76, 224, 142);
}

pre li.mark {
    background-color: rgb(224, 224, 76);
}

pre code a {
    cursor: default;
    text-decoration: underline dotted;
}

pre li.del::before, pre li.ins::before, pre li.mark::before, pre code a::before {
    position: absolute;
    left: -24px;
    /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
    top: 50%;
    transform: translateY(-9px);
}

pre li.ins::before {
    content: url(icons/plus.svg);
}

pre li.del::before {
    content: url(icons/minus.svg);
}

pre li.mark::before {
    content: url(icons/gps.svg);
}

pre code a::before {
    content: url(icons/cursor.svg);
}


/*
pre code ins, pre code del {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

pre code ins {
    background-color: rgb(76, 224, 142);
}

pre code del {
    background-color: rgb(224, 142, 76);
}

pre code a::before, pre code ins::before, pre code del::before  {
    position: absolute;
    left: -24px;
    top: 4px;
}

pre code a::before {
    content: url(icons/cursor.svg);
}

pre code ins::before {
    content: url(icons/plus.svg);
}

pre code del::before {
    content: url(icons/minus.svg);
}
*/

div.code-container, div.sidenote-container {
    position: relative;
}

/* displays explanations as sidenotes */
body.marginnotes div.sidenote-group {
    position: absolute;
    left: 100%;
    top: 0px;
    margin-left: 16px;
    width: 240px;
}
/**/

div.sidenote-group aside {
    padding: 6px 16px 6px 16px;
    color: rgb(112, 112, 112);
    font-weight: 300;
}

div.sidenote-group aside.explained {
    background-color: rgb(232, 255, 255);
}


/*
    hints
*/

.hint, .question {
    position: relative;
    padding: 1pt 12pt 1pt 12pt;
}

.hint {
    z-index: -2;
    background-color: rgb(255, 255, 232);
}

.question {
    background-color: rgb(232, 255, 255);
}

.group-button {
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(0, 164, 128);
    border: none;
    border-bottom: 1px solid rgb(0, 164, 128);
    background-color: rgb(255, 255, 255);
    padding: 6px 18px 6px 18px;
    margin: 12px 8px 12px 0px;
}

.group-button:hover, .group-button[active] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 164, 128);
}

.group-button:hover {
    filter: grayscale(100%);
    filter: opacity(50%);
}

.group-button[active]::after {
    width: 0;
    height: 0;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -20px;
    content: url(icons/point.svg);
}

/*
    questions
*/

/*
div.feedback-group {
    position: absolute;
    margin-left: 16px;
    width: 240px;
    left: 100%;
}

div.feedback-group aside {
    padding: 6px 16px 6px 16px;
    color: rgb(112, 112, 112);
    font-weight: 300;
}
*/

div.question fieldset label {
    display: block;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

div.question input {
    margin-right: 12px;
}

div.question label {
    padding: 0.5em 1em 0.5em 1em;
    position:relative;
}

div.question label.highlighted:not([correct]) {
    background-color: rgb(255, 192, 192);
}

div.question label.highlighted[correct] {
    background-color: rgb(192, 255, 192);
}

div.question label aside[sidenote] {
    position: absolute;
    left: 100%;
    top: 0px;
    margin-left: 16px;
    width: 240px;

    padding: 6px 16px 6px 16px;
    color: rgb(112, 112, 112);
    font-weight: 300;
}

div.question label aside:not([sidenote]) {
    margin-left: 16px;
    padding: 6px 16px 6px 16px;
    color: rgb(112, 112, 112);
    font-weight: 300;
}

.feedback-button {
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(0, 164, 128);
    border: 2px solid rgb(0, 164, 128);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 6px 18px 6px 18px;
    margin: 12px 8px 12px 0px;
}

.feedback-button:hover:not([disabled]), .feedback-button[active] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 164, 128);
}

.feedback-button:disabled {
    filter: grayscale(100%);
    filter: opacity(25%);
}
